<html>
    <head>
        <title>Blog List</title>
    </head>
    <body>
        <h1>게시판 페이지입니다</h1>
        <!-- 게시판(postlist)의 게시글(list)을 하나씩 보여줍니다 -->
        <!-- 내부엔 파이썬이 사용됩니다 -->
        <table>
        {% for list in postlist %}
            <ul>
                <li><a href="{{list.pk}}/">{{list.postname}}</a>
                    {% if commentlist.comment %}
                    <a href="comment/{{commentlist.comment.pk}}/">[{{ commentlist.comment.count }}]</a>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
        <br>
        </table>
        <button><a href="new_post/">글쓰기</a></button>
        <button><a href="register/">회원가입</a></button>
        <button><a href="login/">로그인</a></button>
    </body>
</html>
